<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Grower's Outlet</title>
    <meta name="description" content="South Bend's #1 i502 licensed marijuana retail store">

    <%= csrf_meta_tags %>

    <!-- CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">

    <%= stylesheet_pack_tag("main") %>
  </head>

  <body>
    <%= yield %>
  </body>
  <%= javascript_pack_tag("app") %>
  <%= javascript_include_tag "inventory" %>
</html>
