<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>

    <title>Grower's Outlet</title>
    <meta name="description" content="South Bend's #1 i502 licensed marijuana retail store">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/konpa/devicon/master/devicon.min.css">

    <%= stylesheet_pack_tag("assets/stylesheets/main") %>
  </head>

  <body>
    <%= yield %>
  </body>
  <%= javascript_pack_tag("app") %>
  <%= javascript_include_tag "inventory" %>
</html>
