<!DOCTYPE html>
<html>
  <head>
    <title>GrowersOutlet2</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag("main") %>
  </head>

  <body>
    <%= yield %>
  </body>
  <%= javascript_pack_tag("app") %>
  <%= javascript_include_tag "inventory" %>
</html>
